.seminarie {
  background: rgb(0 0 0 / 40%);
  width: 600px;
  max-height: 800px;
  margin: 100px auto 90px auto;
  border-radius: 10px;
  box-shadow: 14px 10px 14px 1px rgba(0, 0, 0, 0.75);
  font-family: 'Ubuntu', sans-serif;
  color: white;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.seminarie::-webkit-scrollbar {
  display: none;
}
.seminarie h1 {
  padding-top: 20px;
  text-align: center;
}

.seminarie p {
  padding: 0 20px;
}
.seminarie ul {
  list-style: none;
}
.seminarie a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 650px) {
  .seminarie {
    width: 380px;
  }
}
